
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

*/node_modules/*

*/Thumbs.db

application/config/database.php

assets/
!assets/css/
!assets/dist/
!assets/src/
!assets/
!assets/package.json
!assets/server.js
!assets/webpack.config.js

.project
error_log